

@model Entities.Models.Kullanici



<!DOCTYPE html>
<html lang="en">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Admin Panel</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- site icon -->
    <link rel="icon" href="~/Content/images/fevicon.png" type="image/png" />

    <!-- bootstrap css -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <!-- site css -->
    <link href="~/Content/style.css" rel="stylesheet" />
    <!-- responsive css -->
    <link rel="stylesheet" href="~/Content/css/responsive.css" />
    <!-- color css -->
    <link rel="stylesheet" href="~/Content/css/colors.css" />
    <!-- select bootstrap -->
    <link rel="stylesheet" href="~/Content/css/bootstrap-select.css" />
    <!-- scrollbar css -->
    <link rel="stylesheet" href="~/Content/css/perfect-scrollbar.css" />
    <!-- custom css -->
    <link rel="stylesheet" href="~/Content/css/custom.css" />
    <!-- calendar file css -->
    <link rel="stylesheet" href="~/Content/js/semantic.min.css" />
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="inner_page login">
    <div class="full_container">
        <div class="container">
            <div class="center verticle_center full_height">
                <div class="login_section">
                    <div class="logo_login">
                        <div class="center">
                            <img width="210" src="~/Content/images/logo/logo.png" alt="#" />
                        </div>
                    </div>
                    <div class="login_form">
                        <p style="text-align:center" class="login-box-msg">Lütfen Giriş Bilgilerinizi Giriniz</p>
                        @using (Html.BeginForm("KullaniciGiris", "Kullanici", FormMethod.Post, new { @id = "FrmKullaniciGiris" }))
                      {
            <fieldset>
                <div class="field">
                    <label class="label_field">Kullanı Adı</label>
                    @*<input type="email" name="email" placeholder="E-mail" />*@
 
                      @Html.TextBoxFor(Model=>Model.KullaniciKodu,new {@class="form-control", @placeholder="Kullanıcı Adı"})
                     
                </div>
                <div class="field">
                    <label class="label_field">Sifre</label>
                    @*<input type="password" name="password" placeholder="Password" />*@

                    @Html.PasswordFor(Model => Model.Parola, new { @class = "form-control", @placeholder = "Sifrenizi giriniz" })
                </div>
                <div class="field">
                    <label class="label_field hidden">hidden label</label>
                    <label class="form-check-label"><input type="checkbox" class="form-check-input"> Beni Hatırla</label>
                    <a class="forgot" href="">Parolamı Unuttum</a>
                </div>
                <div class="field margin_0">
                    <label class="label_field hidden">hidden label</label>
                    <button type="submit" onclick="KullaniciGiris();" class="main_bt">Giriş Yap</button>
                </div> 
            </fieldset>            }
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal modal-danger" id="MdlBilgilendirme">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="MdlBaslik"></h4>
                </div>
                <div class="modal-body">
                    <p id="MdlAciklama"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline" data-dismiss="modal">Kapat</button>
                </div>
            </div>
        </div>
    </div>
    
    <!-- jQuery -->
    <script src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/js/popper.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <!-- wow animation -->
    <script src="~/Content/js/animate.js"></script>
    <!-- select country -->
    <script src="~/Content/js/bootstrap-select.js"></script>
    <!-- nice scrollbar -->
    <script src="~/Content/js/perfect-scrollbar.min.js"></script>
    <script>var ps = new PerfectScrollbar('#sidebar');</script>
    <!-- custom js -->
    <script src="~/Content/js/custom.js"></script>
</body>
</html>